---
layout: layouts/base.njk
title: Palette Privacy Policy
header:
  title: Palette Privacy Policy
standalone: true
---

<p>
    Palette does not collect, transmit, or store any personal information about
    users or their devices under any circumstances.
</p>

<br/>

<img src="/img/palette-icon.png" style="display: block; margin: auto; max-width: 64pt">